.wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 0.5rem 10rem 0.5rem 10rem;
    background-color: #fdfde7;
    color: #E8630A;
    display: flex;
    align-items: center;
}

.main-container{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.image-container{
    width: 35%
}